.btn{
    width: 95px;
    margin-left: 7px;
    background-color: rgb(32, 120, 178) solid;
 
}
.container{
    border: 5px lightseagreen solid;
    margin-top: 7px;
    margin-bottom: 7px;
}

.btnUp{
    width: 95px;
    margin-left: 7px;
    background-color: aquamarine;
}